<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EcommerceTestAutomationSuite" verbose="1">
    <test name="LoginTests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="ProductSortTests">
        <classes>
            <class name="tests.ProductSortTest"/>
        </classes>
    </test>

    <test name="CartAndCheckoutTests">
        <classes>
            <class name="tests.CartAndCheckoutTest"/>
        </classes>
    </test>
</suite>
